/* import styles from root in globalStyles.css */

@import url("../../globalStyles.css");

.Cool-button {
  background-color: var(--lime-green);
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  overflow: clip;
}

.Cool-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.Counter-text {
  color: var(--lightest-blue);
  font-size: 1.5rem;
  margin: 0 0.5rem;
  overflow: hidden;
}
